.info_block {
    width: 1260px;
    height: 600px;
    background-color: #fff;
    position: relative;
    left: 230px;
    top: -690px;
    border-radius: 20px;
}

#info_work_dev {
    color: #4F4B4B;
    font-size: 26px;
    position: relative;
    left: 110px;
    top: 20px;
    width: 1100px;
}

.info_work_img {
    position: relative;
    width: 500px;
    left: 250px;
    top: 30px;
}